doctype html
html
  head
    if metadata.interviewee_photo == ""
      - var photoUrl = "http://tastorona.su/static/img/social.jpg"
    else
      - var photoUrl = media + "/photos/" + metadata.interviewee_photo
    title #{metadata.title} · По ту сторону войны
    meta(name='description', content='#{metadata.short_summary}')
    meta(property='og:title' content='#{metadata.title} · По ту сторону войны')
    meta(property='og:site_name' content='По ту сторону войны')
    meta(property='og:url' content='http://archive.tastorona.su/documents/#{metadata.guid}')
    meta(property='og:description' content='#{metadata.short_summary}')
    meta(property='og:image' content='#{photoUrl}')
    meta(property='og:type' content='website')
    meta(property='og:locale' content='ru_RU')
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:title' content='#{metadata.title} · По ту сторону войны')
    meta(property='twitter:description' content='#{metadata.short_summary}')
    meta(property='twitter:url' content='http://archive.tastorona.su/documents/#{metadata.guid}')
    meta(property='twitter:image' content='#{photoUrl}')
    link(rel='canonical', href='http://tastorona.su')
    link(rel='stylesheet', href='/assets/styles/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/assets/styles/nprogress/nprogress.css')
    link(rel='stylesheet', href='/assets/styles/jplayer/css/jplayer.blue.monday.min.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic', rel='stylesheet', type='text/css')
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/assets/styles/main-menu.css')
    link(href='/reader/reader.css', rel='stylesheet', type='text/css')
    // Libs
    script(src='/assets/javascripts/react.js')
    script(src='/assets/javascripts/jquery-2.1.3.min.js')
    script(src='/assets/javascripts/jquery.jplayer.min.js')
    script(src='//f.vimeocdn.com/js/froogaloop2.min.js')
    // App
    script(type='text/javascript')
      | window.mediaServer = "#{media}"
    script(src='/reader/reader.js')
  body
    include public/menu
    #container
    script(type='text/javascript')
      | $("li.archive").addClass("active");